(
    name: "lit material shader",
    base: Polygonal((
		vertex: (
			language: Glsl,
			path: "lit_material.vert",
			entry: "main",
		),
		fragment: Some((
			language: Glsl,
			path: "lit_material.frag",
			entry: "main",
		)),
		polygon_input: Mesh([
			(
				name: "position",
				source: "positions",
				fields: [Float32x3],
				default: None,
			),
			(
				name: "light",
				source: "lights",
				fields: [Float32],
				default: None,
			),
			(
				name: "uvs",
				source: "uvs",
				fields: [Float32x2],
				default: None,
			),
		]),
		polygon_mode: Fill,
		instance_attributes: [
			(
				name: "model matrix",
				source: Component("TransformComponent"),
				fields: [Float32x4, Float32x4, Float32x4, Float32x4],
				default: None,
			),
		],
		attachments: [
			(
				source: "albedo",
				format: Rgba8Unorm,
				blend_colour: Replace,
				blend_alpha: Replace,
			),
		],
		depth: Some((
			source: "depth",
			format: Depth32Float,
			write: true,
			comparison: Less,
		)),
		multisample_count: 1,
		topology: TriangleList,
		face_culling: None, //Back,
		unclipped_depth: false,
		conservative: false,
	)),
	bind_groups: {
		0: {
            0: UniformBuffer("camera", [Vertex]),
			1: UniformBuffer("time", [Fragment]),
		},
		1: {
            0: Texture("texture", Rgba8Unorm, D2, false, Float, [Fragment]),
			1: Sampler("sampler", Repeat, Nearest, Nearest, Nearest, 0.0, 32.0, [Fragment]),
		},
	},
	push_constant_range: [],
)
