(
    name: "albedo shader",
    source: (
        file_type: Glsl,
        vertex: (
            path: "albedo.vert",
            entry: "main",
        ),
        fragment: Some((
            path: "albedo.frag",
            entry: "main",
        )),
    ),
    vertex_inputs: [
        VertexPosition,
        VertexUV,
    ],
    instance_inputs: [
        InstanceModelMatrix,
    ],
    attachments: [
        (
            usage: "albedo", 
            format: Rgba8Unorm, 
            blend_colour: Replace,
            blend_alpha: Replace,
        ),
    ],
    depth_write: Some(false),
    multisample_count: 1,
    bind_groups: {
        0: {
            0: ("camera_uniform", Buffer),
        },
        1: {
            0: ("albedo", Texture),
			1: ("albedo sampler", Sampler),
        },
    },
)
