(
    name: "blur r shader",
    source: (
        file_type: Glsl,
        vertex: (
            path: "fullquad.vert",
            entry: "main",
        ),
        fragment: Some((
            path: "blur.frag",
            entry: "main",
        )),
    ),
    vertex_inputs: [],
    instance_inputs: [],
    attachments: [
        (
            usage: "output", 
            format: R8Unorm, 
            blend_colour: Replace,
            blend_alpha: Replace,
        ),
    ],
    depth_write: None,
    multisample_count: 1,
    bind_groups: {
        0: {
            0: ("input", Texture),
            1: ("sampler", Sampler),
        },
    },
)
