(
    name: "depth shader",
    source: (
        file_type: Glsl,
        vertex: (
            path: "depth.vert",
            entry: "main",
        ),
        fragment: None,
    ),
    vertex_inputs: [
        VertexPosition,
    ],
    instance_inputs: [
        InstanceModelMatrix,
    ],
    attachments: [],
    depth_write: Some(true),
    multisample_count: 1,
    bind_groups: {
        0: {
            0: ("camera_uniform", Buffer),
        },
    },
)
