(
    name: "ssao generate shader",
    base: Polygonal((
		vertex: (
			language: Glsl,
			path: "fullquad.vert",
			entry: "main",
		),
		fragment: Some((
			language: Glsl,
			path: "ssao_generate.frag",
			entry: "main",
		)),
		polygon_input: Generative(3),
		polygon_mode: Fill,
		instance_attributes: [],
		attachments: [
			(
				source: "output",
				format: Rgba8Unorm,
				blend_colour: Replace,
				blend_alpha: Replace,
			),
		],
		depth: None,
		multisample_count: 1,
		topology: TriangleList,
		face_culling: Back,
		unclipped_depth: false,
		conservative: false,
	)),
	bind_groups: {
		0: {
            0: UniformBuffer("camera", [Fragment]),
		},
		1: {
			0: UniformBuffer("settings", [Fragment]),
			1: UniformBuffer("kernel", [Fragment]),
			2: Texture("noise", Rgba8Unorm, D2, false, Float, [Fragment]),
			3: Sampler("noise sampler", Repeat, Nearest, Nearest, Nearest, 0.0, 32.0, [Fragment]),
		},
		2: {
			0: Texture("depth", Depth32Float, D2, false, Depth, [Fragment]),
			1: Sampler("depth sampler", ClampToEdge, Linear, Linear, Linear, 0.0, 32.0, [Fragment]),
		},
	},
	push_constant_range: [],
)
