(
    name: "testing vertex shader",
    base: Polygonal((
		vertex: (
			language: Glsl,
			path: "testing_vertex.vert",
			entry: "main",
		),
		fragment: Some((
			language: Glsl,
			path: "texture.frag",
			entry: "main",
		)),
		polygon_input: Mesh([
			(
				name: "position",
				source: "positions",
				fields: [Float32x3],
				default: None,
			),
			(
				name: "uvs",
				source: "uvs",
				fields: [Float32x2],
				default: None,
			),
		]),
		polygon_mode: Fill,
		instance_attributes: [
			(
				name: "model matrix",
				source: Component("ModelMatrixComponent"),
				fields: [Float32x4, Float32x4, Float32x4, Float32x4],
				default: None,
			),
		],
		attachments: [
			(
				source: "albedo",
				format: Rgba8UnormSrgb,
				blend_colour: Replace,
				blend_alpha: Replace,
			),
		],
		depth: None,
		multisample_count: 1,
		topology: TriangleList,
		face_culling: Back,
		unclipped_depth: false,
		conservative: false,
	)),
	bind_groups: {
		0: {
            0: UniformBuffer("camera", [Vertex]),
		},
		1: {
            0: Texture("t", Rgba8Unorm, D2, false, Float, [Fragment]),
			1: Sampler("idk", Repeat, Linear, Linear, Linear, 0.0, 32.0, [Fragment]),
		},
	},
	push_constant_range: [],
)
