(	
	( // Graph definition
		name: "order independent transparency graph",
		order: [
			"oit accum",
			"oit resolve",
		],
	),
	[ // Node definitions
		Shader((
			name: "oit accum",
			shader: "../shaders/oit_accum.ron"
			inputs: [
				("_camera", Buffer),
				("_depth", Texture),
			],
			aliases: {},
			outputs: [
				("_depth", Texture),
			],
		)),
		Shader((
			name: "oit resolve",
			shader: "../shaders/oit_resolve.ron"
			inputs: [
				("_camera", Buffer),
				("_depth", Buffer),
			],
			aliases: {},
			outputs: [
				("transparents", Texture),
			],
		)),
	],
)
