
[
	(
		name: "dirt",
		faces: { // Options: every, front, back, left, right, up, down
			"every": "materials/kmaterials.ron::dirt",
		},
		sounds: {},
	), 
	(
		name: "stone",
		faces: {
			"every": "materials/kmaterials.ron::stone",
		},
		sounds: {},
	), 
	(
		name: "cobblestone",
		faces: {
			"every": "materials/kmaterials.ron::cobblestone",
		},
		sounds: {},
	), 
	(
		name: "sand",
		faces: {
			"every": "materials/kmaterials.ron::sand",
		},
		sounds: {},
	), 
	(
		name: "grass",
		faces: {
			"up": "materials/kmaterials.ron::grass",
			"left": "materials/kmaterials.ron::grass_side",
			"right": "materials/kmaterials.ron::grass_side",
			"front": "materials/kmaterials.ron::grass_side",
			"back": "materials/kmaterials.ron::grass_side",
			"down": "materials/kmaterials.ron::dirt",
		},
		sounds: {},
	), 
	(
		name: "leaves",
		faces: {
			"every": "materials/kmaterials.ron::leaves",
		},
		sounds: {},
	), 
	(
		name: "log",
		faces: {
			"up": "materials/kmaterials.ron::log_top",
			"left": "materials/kmaterials.ron::log_side",
			"right": "materials/kmaterials.ron::log_side",
			"front": "materials/kmaterials.ron::log_side",
			"back": "materials/kmaterials.ron::log_side",
			"down": "materials/kmaterials.ron::log_top",
		},
		sounds: {},
	), 
]
