(
	name: "grass top",
	shader: "../shaders/lit_material/lit_material.ron",
	mappings: {
		"albedo": Context("albedo"),
		"camera": Context("camera"),
		"texture": Global(Path("../textures/grass_top.png")),
		"depth": Context("depth"),
		"time": Global(Label("time")),
	},
	array_mappings: {},
)
