(
	name: "grass top",
	shader: "../shaders/object_albedo.ron",
	mappings: {
		"albedo": Context("output_texture"),
		"camera": Context("camera"),
		"texture": Global(Path("../textures/grass_top.png")),
		"depth": Context("depth"),
	},
	array_mappings: {},
)
