(
	name: "skybox material",
	shader: "../shaders/skybox.ron",
	mappings: {
		"albedo": Context("output_texture"),
		"texture": Global(Path("../textures/skybox/skybox.ron")),
		"camera": Context("camera"),
		"depth": Context("depth"),
	},
	array_mappings: {},
)
