(
    name: "colour shader",
    base: Polygonal((
		vertex: (
			language: Glsl,
			path: "fullquad.vert",
			entry: "main",
		),
		fragment: Some((
			language: Glsl,
			path: "colour.frag",
			entry: "main",
		)),
		polygon_input: Generative(3),
		polygon_mode: Fill,
		instance_attributes: [],
		attachments: [
			(
				source: "albedo",
				format: Bgra8Unorm,
				blend_colour: Replace,
				blend_alpha: Replace,
			),
		],
		depth: None,
		multisample_count: 1,
		topology: TriangleList,
		face_culling: Back,
		unclipped_depth: false,
		conservative: false,
	)),
    bind_groups: {
		0: {
            0: UniformBuffer("colour", [Fragment]),
		},
	},
	push_constant_range: [],
)
